<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.kh.ToDoList.board02.model.vo.Board02" alias="board02" />
		<typeAlias type="com.kh.ToDoList.board02.model.vo.TodoList02" alias="todoList02" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/board02-mapper.xml" />
		<mapper resource="mappers/todoList02-mapper.xml" />
	</mappers>
</configuration>